#first {
    margin-left: 85%;
    display: flex;
    align-items: center;
}
.header {
    display: flex;
}

#header2 {
    padding-left: 40px;
    padding-top: 3px;
}

#gmail, #imagini {
    padding-left: 15px;
    padding-right: 15px;
    display: inline-flex;
    align-items: center;
    width: 25px;
    height: 25px;
    font-family: arial,sans-serif;
    font-size: 13px;
}

#gmail a:hover, #imagini a:hover {
    text-decoration: underline;
}

#gmail a:link, #imagini a:link {
    color: rgba(0,0,0,0.87);
}

#menu, #user {
    display: inline-flex;
    align-items: center;
}
#menu {
    width: 26px;
    height: 26px;
    padding-top: 8px;
}

#menu a {
    width: 24px;
    height: 24px;
}

#image-menu {
    padding: 2px;
}

#menu a:hover {
    box-shadow: 0px 0px 4px 5px #c8cdd1;
    border-radius: 10px;
}

#user {
    padding-top: 3px;
    padding-left: 15px;
}

#user a {
    width: 35px;
    height: 35px;
}

#user a:hover {
    box-shadow: 0px 0px 4px 5px #c8cdd1;
    border-radius: 20px;
}

#name, #email {
    color: #bdc1c6;
    font-size: 12px;
    font-family: Roboto, arial, sans-serif;
    text-align: left;
}
#title {
    text-align: left;
    font-size: 12px;
    font-family: Roboto, arial, sans-serif;
}

.tooltipApp, .tooltipCont, .tooltipKeyboard, .tooltipMicrofon {
    position: relative;
    display: inline-block;
  }

.tooltipApp .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: #555;
    color: #fff;
    text-align: center;
    font-size: 13px;
    font-family: arial,sans-serif;
    padding: 5px;
    border-radius: 6px;
  
    position: absolute;
    z-index: 0;
    top: 130%;
    left: 50%;
    margin-left: -70px;
    margin-right: 10px;
  
    opacity: 0;
    transition: opacity 0.3s;
  }
.tooltipCont .tooltiptext {
    visibility: hidden;
    width: 170px;
    background-color: #555;
    color: #fff;
    text-align: center;
    font-size: 13px;
    font-family: arial,sans-serif;
    padding: 15px;
    border-radius: 6px;
  
    position: absolute;
    z-index: 0;
    top: 130%;
    left: 50%;
    margin-left: -180px;
    margin-right: 10px;
  
    opacity: 0;
    transition: opacity 0.3s;
  }
  
.tooltipKeyboard .tooltiptext {
    visibility: hidden;
    width: 250px;
    font-size: 14px;
    font-family: arial,sans-serif;
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -120px;
    margin-top: 5px;
  }

.tooltipMicrofon .tooltiptext {
    visibility: hidden;
    width: 180px;
    font-size: 14px;
    font-family: arial,sans-serif;
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 90%;
    left: 50%;
    margin-left: -85px;
    margin-top: 5px;
  }
  
.tooltipKeyboard .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 48%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgb(75, 75, 75) transparent;
  }
  
.tooltipMicrofon .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 48%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgb(75, 75, 75) transparent;
  }
  
  
.tooltipKeyboard:hover .tooltiptext, .tooltipMicrofon:hover .tooltiptext, .tooltipApp:hover .tooltiptext, .tooltipCont:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

#body {
    margin-top: 7%;
}

#googleImage {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

#imgGoogle {
    margin-left: 40%;
    width: 272px;
    height: 92px;
}

#form {
    background-color:white;
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30%;
    border-color: black;
    border-top-color: rgb(223, 225, 229);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(223, 225, 229);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(223, 225, 229);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(223, 225, 229);
    border-left-style: solid;
    border-left-width: 1px;
    border-radius: 24px;
    max-width: 570px;
  }
  
#form:hover {
    box-shadow: 1px 1px 2px 2px #d7d7d6;
    border-radius: 24px;
}

button {
   all: unset;
   cursor: pointer;
   width: 44px;
   height: 44px;
}

#imgSearch {
    margin-left: 10px;
    width: 20px;
    height: 20px;
}
input {
    all: unset;
    font: 16px;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
}
  
#imgKeyboard {
    width: 20px;
    height: 20px;
    padding-left: 8px;
    padding-right: 8px;
}

#imgMicrofon {
    color: #fff;
    fill: currentColor;
    padding-left: 8px;
    padding-right: 8px;
    height: 24px;
    width: 24px;
  }

#buttonsSearch {
    display: flex;
    margin-left: 38%;
    margin-top: 15px;
}

#cautare, #norocos {
    width: 110px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
}

#cautare:hover, #norocos:hover {
    border: 1px solid #d7d7d6;
}

#language {
    display: flex;
    margin-left: 40%;
}

.languageElements {
    padding-left: 10px;
    color: #3c4043;
    font-size: small;
    font-family: arial,sans-serif;
    line-height: 28px;
}

#language a {
padding-top: 14px;
color: #1a0dab;
}

#language a:hover {
    text-decoration: underline;
}

#footer {
    display: block;
    align-items: center;
    background-color: #f2f2f2;
    margin-top: 15%;
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height: 90px;
}

#footerMenu {
    display: flex;
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #70757a;
    margin-bottom: 30px;
    padding-left: 25px;
}

#footerMenu a:link {
    color: #70757a;
    text-decoration: none;
}

#footerMenu a:hover {
    text-decoration: underline;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
}

#country {
    font-size: 15px;
    border-bottom: 1px solid #dadce0;
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    color: rgba(0,0,0,.54);
    font-family: arial,sans-serif;
}

.menu-footer {
    padding: 15px;
}

#second-menu {
    align-items: flex-end;
    margin-left: 48%;
}

@media screen and (max-width: 1500px) {
    #footer {
        height: 100px;
    }
    #first {
        margin-left: 82%;
    }
    #img {
        margin-left: 35% ;
    }
    #form {
        margin-left: 25%;
    }
    #buttonsSearch {
        margin-left: 35%;
    }
    #language {
        margin-left: 36%;
    }
}

@media screen and (max-width: 1200px) {
    #footer {
        height: 100px;
    }
    #first {
        margin-left: 70%;
    }
    #img {
        margin-left: 30% ;
    }
    #form {
        margin-left: 15%;
    }
    #buttonsSearch {
        margin-left: 25%;
    }
    #language {
        margin-left: 28%;
    }
}
    @media screen and (max-width: 800px) {
        #footerMenu {
            display: block;
        }
        #second-menu {
            margin-left: 20%;
        }
        #first {
            margin-left: 50%;
        }
        #img {
            margin-left: 25% ;
        }
        #form {
            margin-left: 10%;
        }
        #buttonsSearch {
            margin-left: 20%;
        }
        #language {
            margin-left: 25%;
        }
    }